/* Header.css */
.header-container {
    width: 100%;
    height: 8vh;
    /* padding: 20px 0; */
    background-color: #007bff;
    color: white;
    text-align: center;
    position: relative;
    /* position: fixed; */
  }
  
  .header-container h1 {
    margin: 0;
    font-size: 2rem;
  }
  